In [1]:
import pandas as pd
import numpy as np

## Greenhouse emission data

In [2]:
co2 = pd.read_csv('ghg/co2.csv')
ch4 = pd.read_csv('ghg/ch4.csv')
hfc = pd.read_csv('ghg/hfc.csv')
n2o = pd.read_csv('ghg/n2o.csv')
nf3 = pd.read_csv('ghg/nf3.csv')
pfc = pd.read_csv('ghg/pfc.csv')
sf6 = pd.read_csv('ghg/sf6.csv')

In [19]:
co2_sum = co2.groupby('Year').sum()
ch4_sum = ch4.groupby('Year').sum()
hfc_sum = hfc.groupby('Year').sum()
n2o_sum = n2o.groupby('Year').sum()
nf3_sum = nf3.groupby('Year').sum()
pfc_sum = pfc.groupby('Year').sum()
sf6_sum = sf6.groupby('Year').sum()

In [47]:
ghg_emission = pd.DataFrame(data = {
    'co2': co2_sum.values.reshape(26),
    'ch4': ch4_sum.values.reshape(26),
    'hfc': hfc_sum.values.reshape(26),
    'n2o': n2o_sum.values.reshape(26),
    'nf3': nf3_sum.values.reshape(26),
    'pfc': pfc_sum.values.reshape(26),
    'sf6': sf6_sum.values.reshape(26),
    'year': list(reversed(range(1990, 2016)))
})

### Convert data

In [62]:
ch4_factor = 25
hfc_factor = 14800
n2o_factor = 298
nf3_factor = 17200
pfc_factor = 13300
sf6_factor = 22800

In [63]:
ghg_emission['ch4'] = ghg_emission['ch4'].apply(lambda x: x * ch4_factor)
ghg_emission['hfc'] = ghg_emission['hfc'].apply(lambda x: x * hfc_factor)
ghg_emission['n2o'] = ghg_emission['n2o'].apply(lambda x: x * n2o_factor)
ghg_emission['nf3'] = ghg_emission['nf3'].apply(lambda x: x * nf3_factor)
ghg_emission['pfc'] = ghg_emission['pfc'].apply(lambda x: x * pfc_factor)
ghg_emission['sf6'] = ghg_emission['sf6'].apply(lambda x: x * sf6_factor)

In [64]:
def compute_variance(data):
    base = data[-1]
    arr = []
    for value in data:
        arr.append((value - base)/base)
    
    return arr

In [65]:
co2_var = compute_variance(ghg_emission['co2'].values)
ch4_var = compute_variance(ghg_emission['ch4'].values)
hfc_var = compute_variance(ghg_emission['hfc'].values)
n2o_var = compute_variance(ghg_emission['n2o'].values)
nf3_var = compute_variance(ghg_emission['nf3'].values)
pfc_var = compute_variance(ghg_emission['pfc'].values)
sf6_var = compute_variance(ghg_emission['sf6'].values)

In [66]:
ghg_variation = pd.DataFrame(data = {
    'co2': co2_var,
    'ch4': ch4_var,
    'hfc': hfc_var,
    'n2o': n2o_var,
    'nf3': nf3_var,
    'pfc': pfc_var,
    'sf6': sf6_var,
    'year': list(reversed(range(1990, 2016)))
})

In [69]:
ghg_variation.to_csv('oceans/summerized_ghg_data.csv')

## Ocean heat content

### load and renmaing columns

In [5]:
ocean = pd.read_csv('oceans/t00mn1.csv', delimiter=' ', header=None, dtype=np.float64)

In [6]:
ocean.columns = range(10)

In [7]:
ocean.to_csv('oceans/data.csv')

In [8]:
ocean = pd.DataFrame(data=ocean.values.reshape((5940, 360)), columns=range(360))

In [9]:
ocean = ocean.replace(-99.0, np.NaN)

In [10]:
years = []
for i in range(66):
    y = [1955 + i] * 90
    years.extend(y)

years = np.array(years)

In [11]:
ocean['year'] = years

In [12]:
ocean.to_csv('oceans/year_data.csv')

In [13]:
_median = ocean.groupby('year').median()
_mean = ocean.groupby('year').mean()
_variance = ocean.groupby('year').var()
_max = ocean.groupby('year').max()
_min = ocean.groupby('year').min()

In [14]:
_median = _median.min(axis=1).values
_mean = _mean.min(axis=1).values
_variance = _variance.min(axis=1).values
_max = _max.min(axis=1).values
_min = _min.min(axis=1).values

In [15]:
df = pd.DataFrame(data={
    'median': _median, 
    'mean': _mean, 
    'variance': _variance, 
    'max': _max, 
    'min': _min,
    'year': range(1955, 2021)
})

In [16]:
df.to_csv('oceans/summerized_data.csv')

## Load temperature

In [73]:
temperatures = pd.read_csv('temperatures/GlobalLandTemperaturesByCountry.csv')

In [72]:
temperatures.head(100)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
5,1744-04-01,5.788,3.624,Århus,Denmark,57.05N,10.33E
6,1744-05-01,10.644,1.283,Århus,Denmark,57.05N,10.33E
7,1744-06-01,14.051,1.347,Århus,Denmark,57.05N,10.33E
8,1744-07-01,16.082,1.396,Århus,Denmark,57.05N,10.33E
9,1744-08-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
10,1744-09-01,12.781,1.454,Århus,Denmark,57.05N,10.33E
11,1744-10-01,7.950,1.630,Århus,Denmark,57.05N,10.33E
12,1744-11-01,4.639,1.302,Århus,Denmark,57.05N,10.33E
13,1744-12-01,0.122,1.756,Århus,Denmark,57.05N,10.33E
14,1745-01-01,-1.333,1.642,Århus,Denmark,57.05N,10.33E
15,1745-02-01,-2.732,1.358,Århus,Denmark,57.05N,10.33E
16,1745-03-01,0.129,1.088,Århus,Denmark,57.05N,10.33E
17,1745-04-01,4.042,1.138,Århus,Denmark,57.05N,10.33E
18,1745-05-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
19,1745-06-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
20,1745-07-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
21,1745-08-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
22,1745-09-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
23,1745-10-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
24,1745-11-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
25,1745-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
26,1746-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
27,1746-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
28,1746-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
29,1746-04-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
...,...,...,...,...,...,...,...
70,1749-09-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
71,1749-10-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
72,1749-11-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
73,1749-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
74,1750-01-01,1.699,1.013,Århus,Denmark,57.05N,10.33E
75,1750-02-01,3.961,2.361,Århus,Denmark,57.05N,10.33E
76,1750-03-01,5.182,3.480,Århus,Denmark,57.05N,10.33E
77,1750-04-01,7.197,0.732,Århus,Denmark,57.05N,10.33E
78,1750-05-01,10.634,1.351,Århus,Denmark,57.05N,10.33E
79,1750-06-01,14.913,1.181,Århus,Denmark,57.05N,10.33E
80,1750-07-01,17.831,1.220,Århus,Denmark,57.05N,10.33E
81,1750-08-01,16.848,0.736,Århus,Denmark,57.05N,10.33E
82,1750-09-01,13.143,1.021,Århus,Denmark,57.05N,10.33E
83,1750-10-01,5.251,1.258,Århus,Denmark,57.05N,10.33E
84,1750-11-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
85,1750-12-01,-0.678,1.808,Århus,Denmark,57.05N,10.33E
86,1751-01-01,-0.623,1.700,Århus,Denmark,57.05N,10.33E
87,1751-02-01,-3.764,2.329,Århus,Denmark,57.05N,10.33E
88,1751-03-01,3.700,1.672,Århus,Denmark,57.05N,10.33E
89,1751-04-01,5.267,0.850,Århus,Denmark,57.05N,10.33E
90,1751-05-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
91,1751-06-01,14.429,1.579,Århus,Denmark,57.05N,10.33E
92,1751-07-01,16.638,0.890,Århus,Denmark,57.05N,10.33E
93,1751-08-01,16.547,0.728,Århus,Denmark,57.05N,10.33E
94,1751-09-01,12.177,0.582,Århus,Denmark,57.05N,10.33E
95,1751-10-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
96,1751-11-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
97,1751-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
98,1752-01-01,-0.781,2.622,Århus,Denmark,57.05N,10.33E
99,1752-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E